{% load static %}
<div class="row mt-5">
  <div class="col-12 col-6 col-md-4 mb-4">
      
  </div>

  <div class="col-12 col-6 col-md-8">
    <div class="card rounded">
      <div class="card-body text-center">
        <h2>SISTEMA DE INFORMAÇÕES DE ANTIGOS ALUNOS</h2>
        <h5>UNIVERSIDADE NACIONAL DE TIMOR-LOSA'E</h5>
        <h4>UNTL-EDU-TL</h4>
        <hr />
        <img
          src="{% static 'image/UNTL.png' %}"
          class="d-md-none"
          height="200px"
          alt="UNTL Logo"
        />
      </div>
    </div>
  </div>
</div>
